<html>
<head>
  <title>oicusp/log</title>
  <style>
    * {
      font-family: monospace;
    }
    table {
      max-width: 90%;
      margin: auto;
      padding: 0;
    }
    td {
      vertical-align: top;
    }
  </style>
</head>
<body>
  <table>
  <tr>
    <th>method</th>
    <th>params</th>
    <th>response</th>
  </tr>
  <% @requests.each do |r| %>
    <tr>
      <td><%= r.method %></td>
      <td><%= r.params %></td>
      <td>
        <% r.response_as_hex.scan(/../).each_with_index do |part, idx| %>
          <%= part %><%= idx + 1 % 10 == 0 ? '<br/>' : '&nbsp;' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</body>
</html>
